html{
  scroll-behavior: smooth;
}
body{
  background-image: url('../images/back-1.png');
  background-size: cover;
  background-repeat: no-repeat;
  
}
#test-1, #test-2{
  width: 90%;
  height: 100vh;
  background: rgb(63, 44, 44);
}
#test-2{
  background: rebeccapurple;
}